@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
/*   color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif; */
}

.phone-input-container:focus-within .phone-input {
  border-color: #1dc468; 
  outline: none;
}

.phone-input-container:focus-within .phone-button {
  border-color: #1dc468;
  outline: none;
}

.phone-button:hover {
  background: inherit !important;
}

.warning-alert {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffff;
  color: black;
  padding: 10px 20px;
  border-radius: 14px;
  font-size: 14px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: slideIn 0.5s forwards, fadeOut 0.5s 2.5s forwards;
}

@keyframes slideIn {
  0% {
      top: -50px;
      opacity: 0;
  }
  100% {
      top: 20px;
      opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}
